<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.ProductSkuMapper">
  <resultMap id="BaseResultMap" type="com.tw.model.ProductSku">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku1" jdbcType="VARCHAR" property="sku1" />
    <result column="sku2" jdbcType="VARCHAR" property="sku2" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="sale_count" jdbcType="INTEGER" property="saleCount" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="review_count" jdbcType="VARCHAR" property="reviewCount" />
    <result column="visit_count" jdbcType="INTEGER" property="visitCount" />
    <result column="show_image" jdbcType="VARCHAR" property="showImage" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="show_price" jdbcType="TINYINT" property="showPrice" />
    <result column="is_best" jdbcType="TINYINT" property="isBest" />
    <result column="is_hot" jdbcType="TINYINT" property="isHot" />
    <result column="is_new" jdbcType="TINYINT" property="isNew" />
    <result column="is_promotion" jdbcType="TINYINT" property="isPromotion" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="sku_sn" jdbcType="VARCHAR" property="skuSn" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
  </resultMap>
</mapper>