<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.tw.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="INTEGER" property="mobile" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="layer" jdbcType="TINYINT" property="layer" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>